/target
test
test.*
*.svg
*.gv

*.o
*.s
*.exe
*.out

tests/src/stage_*/valid/*         #ignore all files in each directory
!tests/src/stage_*/valid/*.c      #unignore .c files in each directory
!tests/src/stage_*/valid/*.h      #unignore .h header files in each directory

tests/src/*/valid/*
!tests/src/*/valid/*.c
perf.data*
